@using WebApi.Models
@model List<Movie>
@{
    ViewData["Title"] = "Movies Page";
}

<div class="text-center">
    <h1 class="display-4">Filmler</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>IMDB</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
        <tr>
            <td>@movie.Id</td>
            <td>@movie.Name</td>
            <td>@movie.IMDB</td>
            <td>@movie.Description</td>
        </tr>
        }
    </tbody>
</table>
